.plane-icon {
    display: inline;
    position: relative;
    left: 8%;
    margin-top: 4%;
  }
  
  .departure-text-element {
    height: 0;
    width: 20%;
    color: #717075;
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
    left: 16%;
    bottom: 88px;
    margin-right: 0;
    text-shadow: 2px 2px 2px rgb(201, 201, 201);
  }
  
  .time-country {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .time {
    font-size: 30px;
  }
  
  .flight-date {
    font-size: 24px;
    margin: 0;
  }
  
  .country-code {
    font-size: 36px;
    margin: 0;
  }
  
  .airport-name {
    font-size: 16px;
    margin: 0;
  }
  
  .to-text-element {
    width: 4%;
    height: 0;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #717075;
    position: relative;
    left: 42%;
    bottom: 118px;
    text-shadow: 2px 2px 2px rgb(201, 201, 201);
  }
  
  .arrival-text-element {
    width: 20%;
    height: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #717075;
    text-shadow: 2px 2px 2px rgb(201, 201, 201);
    text-align: left;
    margin: 0;
    position: relative;
    left: 56%;
    bottom: 138px;
  }
  
  .price {
      width: 20%;
      height: 0;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 24px;
      color: #9B6E5A;
      margin-top: 4%;
      position: relative;
      left: 16%;
      bottom: 48px;
  }
  
  .next-button {
    position: relative;
    left: 80%;
    bottom: 56px;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Georgia;
    color: #9B6E5A;
    font-size: 20px;
    border-color: #717075;
    background: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .next-button:hover {
    background: #e7e7e7;
    text-decoration: none;
  }