.flight-page-whole {
  width: 100%;
}

.content-container {
  width: 100%;
  /* text-align: center; */
}

.bg-image {
  width: 100%;
}

.card-container {
  width: 80%;
  
  margin: 0 auto;
  position: relative;
  bottom: 108px;
}



