.main-body-notfoundPage {
    text-align: center;
    height: 76vh;
    margin-top: 8vh;
}

.alert-icon {
    height: 79px;
    margin-top: 8vh;
    position: relative;

    margin-top: 160px;
}

.text-not-found {
    font-size: large;
    color: #774F39;
}